@page
@model SentiHack.Pages.Upload2Model
@{
    ViewData["Title"] = "Upload2";
}
<script type="text/javascript" src="~/js/Upload.js"></script>
<p>Select local CSV File:</p>
<input id="csv" type="file">

<output id="out">
    file contents will appear here
</output>

