@model News

@{
    ViewData["Title"] = "Home Page";

}

<div class="container">
    <h1 class="text-center">Weather Widget</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            <h3 class="text-center">Top News</h3>

            @for (var i = 0; i < 3; i++)
            {
                <li class="media">
                    <div class="media-body">
                        <h5 class="mt-2 mb-2">@Model.NewsList[i].Title</h5>
                        @Model.NewsList[i].Words
                    </div>
                </li>
                <article class="audio">
                    <audio controls>
                        <source src="@Url.Action("GetNewsAudio", "Index", new { audioText = Model.NewsList[i].Content })" type="audio/mp3" />
                        <p>Your browser does not support HTML 5 audio element</p>
                    </audio>
                </article>

                <br />
            }

        </div>
    </div>
</div>